* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  overflow-x: hidden;
  font-family: Arial; 
  background-color: rgb(167, 149, 125);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(40, 40, 40);
}

p {
  text-align: justify;
}

button {
  float: left;
  padding: 15px;
  color: white;
  background-color: rgb(40, 40, 40);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}


@media only screen and (max-width: 750px) {
  
  body {
    font-size: 16px;
  }
  
}